	 /* CSS GENERAL*/

    html{
        background-color: #141414;
        font-size: 1.5rem;
        font-family: "fin","pate", "plice2";

    }
    header{
        background-color: black;
        color: white;
        position: fixed;
        width: 100%;
        top: 0px;
        height: 8%;

        z-index: 1000;
        margin-bottom: 0px;


    }

    body{
        background-color: #000000;
        color: white;
        margin:auto;
        width: 100%;


    }

    main>div{
        background-color: #dcdcdc;
        width: 75%;
        position: relative;
        margin: auto;
        padding: 15px;
        border: 02px outset;
        margin-top: 10px;
        margin-bottom: 10px;
       /*background-image: radial-gradient(ellipse at left, #9FB7A3,white);
       border-image: radial-gradient(ellipse at left, #9FB7A3,white);*/
       z-index: 0;


       
   }


   body>p{
       width: 75%;
   }
   h1, h2, h5{
       text-align: center;
   }
   h1{
       font-size: 2em;
       
       color:#d63a12;
   }

   fieldset{
       position:relative;
   }
   .champii { 
    font-family: sans-serif;
    font-size: 115%;
    font-weight: bold;
    margin: 0px 0px 25px 0px;
   }
   .timer {
       position: absolute;
       right: 20px;
       top: 50px;
       font-size: 500%;
       font-weight: bold;
   }

   .txtcenter {
    text-align: center
   }

   .spoti {
       position: absolute;
       left: 550px;
       top: 60px;
   }
/* ----------------- bouton test ------------------ */
   .button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #ebdfdf;
    font-weight: 600;
    font-size: 15px;
    background-color: #811300;
    padding: 15px 50px;
    margin: 0 auto;
  }
  .button span {
    position: relative;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #da6608;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }



  /* bouton 5*/
  .btn5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
